@font-face {
    font-family: Poppins;
    src: url("../assets/fonts/Poppins-Regular.ttf");
}

@import "tailwindcss";

@theme{
    --color-mainColor: #8EE6C9;
    --color-btnColor: #F44545;
    --color-textColor: #021206;
}

*{
    font-family: Poppins;
}

.headerContainer{
    max-width: 1195px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.heroContainer{
    max-width: 1361px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}.contentContainer{
    max-width: 1256px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}
button,input{
    cursor: pointer;
    outline: none;
    border: none;
}

header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    transition: .3s ease;
}
header.shrink{
    box-shadow: 0 5px 5px #0001;
}
header.shrink .navbar{
    height: 90px;
}